:root {
    --nav-background: rgb(145, 145, 145);
    --footer-text-color: rgb(201, 201, 201);
}

body {
    background: #817f7f;
    font-family: 'Source Code Pro', monospace, sans-serif;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}